---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<div class="admonition note">
  <p class="admonition-title">Note</p>
  <p>
    Selected <span class="kw">research workflows</span> and <span class="kw">analysis pipelines</span>
    in which I played a key technical role, accompanied by concise
    <span class="kw">methodological context</span> and representative
    <span class="kw">visual summaries</span>
  </p>
</div>

{% include base_path %}



{% for post in site.research %}
  {% assign is_last = forloop.last %}
  {% include archive-single.html is_last=is_last %}
{% endfor %}
