---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<div class="admonition note">
  <p class="admonition-title">Note</p>
  <p>
    A complete list of my talks and presentations delivered at international
    <span class="kw">conferences</span>, <span class="kw">symposia</span>,
    <span class="kw">workshops</span>, and <span class="kw">hackathons</span>
  </p>
</div>


{% for post in site.talks reversed %}
  {% assign is_last = forloop.last %}
  {% include archive-single-talk.html is_last=is_last %}
{% endfor %}
