---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<div class="admonition info">
  <p class="admonition-title">Note</p>
  <p>
    Hands-on workshops, guest lectures, and self-developed materials focused on
    <span class="kw">phylogenetics</span>, <span class="kw">NGS data analysis</span>, and
    <span class="kw">computational biology</span> workflows
  </p>
</div>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% assign is_last = forloop.last %}
  {% include archive-single.html is_last=is_last %}
{% endfor %}