---
layout: archive
title: "Tools"
permalink: /tools/
author_profile: true
---

<div class="admonition note">
  <p class="admonition-title">Note</p>
  <p>
    A collection of <span class="kw">software tools</span> and
    <span class="kw">analysis utilities</span> developed by me for
    computational <span class="kw">research workflows</span>
  </p>
</div>

{% include base_path %}


{% for post in site.tools %}
  {% assign is_last = forloop.last %}
  {% include archive-single.html is_last=is_last %}
{% endfor %}