{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    
    <h2 class="archive__item-title" itemprop="headline">{{ title }}</h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    
    {% if post.date or post.venue or post.location %}
      <p class="page__meta">
        {% if post.date %}
          <i class="fa fa-clock" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}
        {% endif %}
        {% if post.date and (post.venue or post.location) %}
          &nbsp;&nbsp;
        {% endif %}
        {% if post.venue %}
          <i class="fa fa-briefcase" aria-hidden="true"></i> {{ post.venue }}
        {% endif %}
        {% if post.venue and post.location %}
          &nbsp;&nbsp;
        {% endif %}
        {% if post.location %}
          <i class="fa fa-map-pin" aria-hidden="true"></i> {{ post.location }}
        {% endif %}
      </p>
    {% endif %}
    
    {% if post.conference %}
    <p class="archive__item-excerpt" itemprop="description">
      {% if post.type %}
        {{ post.type }}, 
      {% endif %}
      <i>{{ post.conference }}</i>
    </p>
    {% endif %}
    
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}
  </article>
</div>
