{% include base_path %}

{% if page.DSTU and site.data.DSTUs[page.DSTU] %}
  {% assign DSTU = site.data.DSTUs[page.DSTU] %}{% else %}{% assign DSTU = site.DSTU %}
{% endif %}

<div class="utility-profile">
    <div class="utility__logo">
      <img src="/images/DSTU_tool/DSTU logo circle.png" alt="Utility Logo" class="utility__logo--image">
    </div>
    
    <div class="utility__content">
      <h3 class="utility__name">Detailed Sequences for Trees Unblemished</h3>
      <p class="utility__description">Tool to annotate phylogenetic trees.</p>
    </div>
  </div>

  