{% include base_path %}

{% if page.SFL and site.data.SFLs[page.SFL] %}
  {% assign SFL = site.data.SFLs[page.SFL] %}{% else %}{% assign SFL = site.SFL %}
{% endif %}

<div class="utility-profile">
    <div class="utility__logo">
      <img src="/images/SequenceForge-Lite.png" alt="Utility Logo" class="utility__logo--image">
    </div>
    
    <div class="utility__content">
      <h3 class="utility__name">SequenceForge-Lite</h3>
      <p class="utility__description">Simple tool to work with fasta, fastq files and bio seqs.</p>
    </div>
  </div>

  