{% include base_path %}

<div class="utility-profile">
  <div class="utility__logo">
    <img src="/images/SequenceForge-Lite.png" alt="Utility Logo" class="utility__logo--image">
  </div>
  
  <div class="utility__content">
    <h3 class="utility__name">SequenceForge-Lite</h3>
    <p class="utility__description">Simple tool to work with fasta, fastq files and bio seqs.</p>
  </div>
  
  <div class="utility__urls-wrapper">
    <ul class="utility__urls">
      <li><a href="https://github.com/iliapopov17/SequenceForge-Lite" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i>GitHub</a></li>
    </ul>
  </div>
</div>
